.cat_fil__attribute__view {
    color: var(--Gray, #56575E);
    line-height: 1.2;
    position: relative;
    border-radius: 0.125rem;
    border: 1px solid var(--Light-brown, #CECCC2);
    background: var(--White, #FFF);
    padding: 0.75rem 2rem .75rem 0.75rem;
    cursor: pointer;
    min-width: 7.5rem;
}

.cat_fil__attribute__view:after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6.5L8 10.5L12 6.5' stroke='%2356575E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    content: '';
    position: absolute;
    right: 0.75rem;
    width: 1rem;
    height: 1rem;
    background-size: 75%;
    background-position: 50%;
    background-repeat: no-repeat;
    top: 50%;
    transform: translate(0, -50%);
}

.cat_fil__attribute {
    display: inline-flex;
    position: relative;
    z-index: 3;
}

.cat_fil__price__slider {
    padding-top: 0.45rem;
}

.cat_fil__attribute__content {
    position: absolute;
    opacity: 0;
    transform: translate(0, -1rem);
    top: calc(100% + 0.5rem);
    border: 1px solid var(--Light-brown, #CECCC2);
    background: var(--White, #FFF);
    padding: 1rem;
    min-width: 12.75rem;
    pointer-events: none;
}

.cat_fil__attribute__view__current {
    max-width: 7.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 0.25rem;
}

.category__filter__content__col {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem 1rem;
}

.category__filter__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.cat_fil__attribute.opened .cat_fil__attribute__view {
    background: #E9EEED;
    border-color: #537B74;
}

.loaded .cat_fil__attribute__view {
    transition: 0.25s;
}

.cat_fil__attribute.opened .cat_fil__attribute__view:after {
    transform: translate(0, -50%) rotate(180deg);
}

.loaded .cat_fil__attribute__view:after {
    transition: 0.25s;
}

.cat_fil__attribute.opened .cat_fil__attribute__content {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: all;
}

.loaded .cat_fil__attribute__content {
    transition: 0.25s;
}

.cat_fil__attribute.choosed .cat_fil__attribute__view {
    background: #232121;
    color: #fff;
    border-color: #232121;
}

.cat_fil__attribute.choosed .cat_fil__attribute__view:after {
   opacity: 0;
}
.clear_cat_fil__attribute {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4.5L4 12.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 4.5L12 12.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0.75rem;
    cursor: pointer;
    z-index: 2;
    background-size: 60%;
    background-position: 50%;
    background-repeat: no-repeat;
    top: 50%;
    transform: translate(0,-50%);
}

.clear_cat_fil__attribute:hover {
    opacity: 0.5;
}

.loaded .clear_cat_fil__attribute {
    transition: 0.25s;
}

.cat_fil__attribute__view:hover {
    border-color: #232121;
}

.category__filter {
    margin-bottom: 2rem;
}

.form_x__item.form_x__item--filter {
    position: relative;
    flex: none;
}

.btn_category__filter__search {
    position: absolute;
    left: 0;
    width: 2.775rem;
    height: 100%;
    background: transparent;
    z-index: 2;
    font-size: 0;
}

.loaded .btn_category__filter__search {
    transition: 0.25s;
}

.btn_category__filter__search:hover path {
    stroke: #232121;
}

.loaded .btn_category__filter__search path {
    transition: 0.25s;
}

.form_x__item.form_x__item--filter input {
    padding-left: 3rem;
    width: 17rem;
    padding-right: 1.25rem;
}


.cat_fil__attribute__content__choose {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
}

.cat_fil__attribute__content__choose__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cat_fil__attribute__content__choose__item__view {
    width: 1.15rem;
    height: 1.15rem;
    border: 0.15rem solid;
    border-radius: 0.125rem;
}

.cat_fil__attribute__content__choose__item input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.cat_fil__attribute__content__choose__item__text {
    flex: 1;
    padding-top: 0.2rem;
}

.cat_fil__attribute__content__choose__item input:checked+.cat_fil__attribute__content__choose__item__view {
    background: #232121;
}

.btn__cat_fil__apply {
    border-color: #232121;
    padding: .675rem;
}

.cat_fil__price__slider__line__row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 1.75rem;
}

.cat_fil__attribute__content__apply {
    margin-top: 1.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.form_x__item input {}

.cat_fil__price__slider__field--divide {
    font-size: 1rem;
    padding-top: 1.25rem;
    color: #CECCC2;
}

.form_x__item.form_x__item--price__filter {
    flex: none;
    display: block;
}

.form_x__item.form_x__item--price__filter input {
    padding: .75rem .75rem .6rem;
}

.noUi-connect {
    background: var(--Green-dark, #537B74);
}

.noUi-horizontal {
    height: 0.375rem;
    border: none;
    background: #CECCC2;
    box-shadow: none;
    margin: 0 0.25rem;
}

.cat_fil__attribute--price .cat_fil__attribute__content {
    min-width: 18rem;
}

.noUi-handle:after,
.noUi-handle:before {
    display: none;
}

.noUi-horizontal .noUi-handle {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    box-shadow: none;
    background: #fff;
    border: 0.1rem solid #537b74;
    right: -0.625rem;
}

.cat_fil__attribute.cat_fil__attribute--price .cat_fil__attribute__view__current {
    max-width: 15rem;
}

@media screen and (max-width:550px) {

    .category__filter__content {
        flex-direction: column;
        gap: 0.5rem;
    }

    .category__filter__content__col {
        width: 100%;
        gap: 0.5rem;
    }

    .category__filter__search {
        width: 100%;
    }

    .form_x__item.form_x__item--filter input {
        width: 100%;
    }

    .cat_fil__attribute {
        display: flex;
        width: 100%;
        z-index: inherit;
    }
    .cat_fil__attribute__content {
        z-index: 3;
        width: 100%;
    }

    .cat_fil__attribute__view {
        width: 100%;
    }
}