.loader_x {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    background: #E9EEED;
    align-items: center;
    justify-content: center;
    z-index: 15;
    font-size: 0;
    display: none;
}

.loader_x img {
    width: 6rem;
    height: auto;
}
.loader_x__content img {
    transition: .35s ease-in-out
}

.start_show .loader_x__content img {
    opacity: 0
}

.loader_x__content svg {
    width: 10rem;
}
.start_show.loader_x {
    transform: translate(0, -100%);
    pointer-events: none;
}

.start_show.loader_x {
    transition: .75s ease-in-out .25s
}
.loader_x__content{opacity: 0;}
.loader_x__content.show{opacity: 1;transition: 0.25s;}