.header_menu__mega_menu:after {
	background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 6L8.5 10L12.5 6' stroke='%23537B74' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	content: '';
	width: 1rem;
	height: 1rem;
	background-size: contain;
	vertical-align: top;
	display: inline-block;
	margin-left: 0.25rem;
	filter: brightness(0);
	cursor: pointer;
	margin-top: 0.1rem;
}

.mega_menu__section {
	position: absolute;
    left: 0;
    right: 0;
    top: 5.05rem;
    height: calc(100vh - 5.05rem);
    z-index: -1;
    background: rgba(48,49,57,.4);
    transform: translate(0,-1rem);
    opacity: 0;
    transition-delay: 0.25s;
    overflow: hidden;
    height: 0;
}

.mega_menu__content {
	background: #fff;
}

a.mega__menu__type__link__x {
	border-radius: 0.125rem;
    color: var(--Black,#232121);
    font-family: Playfair Display SC;
    font-size: 1.465rem;
    padding: 0.75rem 1.35rem 0.85rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    line-height: 1.2;
	margin-left: -4.6rem;
    padding-left: 4.6rem;
}

.mega__menu__type__list {
	border-right: 1px solid var(--Lightest-green, #dfe6e5);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 25rem;
	position: relative;
	padding: 2rem 0;
	padding-right: 2rem;
	padding-bottom: 9.8rem;
	gap: 0.75rem;
}
.mega__menu__type__link__x__small {
    font-size: 0.75rem;
    font-family: Hind;
    color: #998D62;
    font-weight: 500;
    line-height: 1;
	text-transform: capitalize;
}

.mega__menu__type__content__block {
	position: absolute;
	opacity: 0;
	left: 25rem;
	top: 0;
	padding: 2rem 4.5rem;
	width: 61.25rem;
	transition: 0.35s ease-in-out;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	transform: translate(-0.25rem, 0rem);
	z-index: 1;
	pointer-events: none;
}

.mega__menu__type__link--gold a.mega__menu__type__link__x:hover,.mega__menu__type__link--gold.active a.mega__menu__type__link__x {
	background: #FEF4CD;
}

.mega__menu__type__link--gold a.mega__menu__type__link__x:hover {
	color: inherit;
}

.mega__menu__type__link--silver a.mega__menu__type__link__x:hover,.mega__menu__type__link--silver.active a.mega__menu__type__link__x {
	background: #EEEDEB;
}

.mega__menu__type__link.active .mega__menu__type__content__block {
    opacity: 1;
    transform: translate(0,0);
    z-index: 5;
    pointer-events: all;
}

.mega__menu__type__link--silver a.mega__menu__type__link__x:hover {
	color: inherit;
}

a.mega__menu__type__link__x:hover svg {
	transform: translate(0.25rem, 0);
}

.loaded a.mega__menu__type__link__x svg {
	transition: .25s ease;
    width: 0.375rem;
    height: auto;
    position: absolute;
    right: 5rem;
    top: 53.5%;
}

.mega__menu__type__link:hover .mega__menu__type__content__block {
	opacity: 1;
	transform: translate(0, 0);
	z-index: 5;
	pointer-events: all;
}



.mega__menu__type__content__image__content {
	width: 20.85rem;
}

.mega__menu__type__content__link__section {
	flex: 1;
	max-width: 25.5rem;
}

.mega__menu__type__content__link__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1.325rem 1rem;
}

.mega__menu__type__content__link__list a {
	width: calc(50% - 0.5rem);
	display: flex;
	flex-direction: column;
	position: relative;
}

.mega__menu__type__content__link__type {
	color: #56575e;

	/* Form Text/Label */
	font-size: 0.75rem;
	font-weight: 500;
	/* 133.333% */
	text-transform: capitalize;
}

.mega__menu__type__content__link__list a svg {
	position: absolute;
	right: 3.5rem;
	top: 48%;
	transform: translate(0, 0%);
	width: 0.375rem;
	height: auto;
}

.mega__menu__type__content__image__text {
	font-size: 0.875rem;
	margin-top: 0.85rem;
}

.mega__menu__type__content__image__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.mega__menu__type__content__image__inner {
	font-size: 0;
    padding-top: 67.5%;
    position: relative;
}

.mega__menu__type__link--gold .mega__menu__type__content__link__type {
	color: #998d62;
}

.mega__menu__type__content__link__list a:hover {
	color: #999;
}

.mega__menu__type__link:after {
	position: absolute;
	width: 2rem;
	height: 100%;
	background: #000;
	content: '';
	right: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
}

.mega__menu__type__link:hover:after {
	pointer-events: all;
}

.header_menu__mega_menu:hover:after {
	transform: rotate(-180deg);
}

.loaded .header_menu__mega_menu:after {
	transition: 0.35s ease-in-out;
}

.loaded .mega_menu__section {
	transition: transform .35s ease-in-out 0.25s,opacity .35s ease-in-out 0.25s,height 0s ease-in-out 0.6s;
}
.header_menu__mega_menu:hover .mega_menu__section {
	opacity: 1;
    transform: translate(0,0);
    transition-delay: 0s;
    height: calc(100vh - 5.025rem);
}



// .header_menu__mega_menu a:before {
// 	background: #000;
// 	position: absolute;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	content: '';
// 	height: 2rem;
// 	opacity: 0;
// 	pointer-events: none;
// }


.loaded .mega__menu__type__content__link__list svg {
	transition: 0.35s ease-in-out;
}
.mega__menu__type__content__link__list a:hover svg {
	transform: translate(0.25rem, 0%);
	opacity: 0.5;
}
.header_menu__mega_menu:has(a:hover):after {
    filter: none;
}


.header_hide.header_main .mega_menu__section {
    height: 0;
    overflow: hidden;
}


@media screen and (max-width: 1000px) {
	.mega__menu__type__list {
		width: 20rem;
		padding-right: 0;
		padding-bottom: 6.5rem;
	}

	.header_menu__mega_menu .container {
		padding: 0;
	}

	a.mega__menu__type__link__x {
		font-size: 1.15rem;
		margin-left: 0;
		padding-left: 1.5rem;
	}

	.mega__menu__type__content__block {
		left: 20rem;
		width: calc(100vw - 20rem);
		padding: 1.75rem;
	}

	.mega__menu__type__content__image__content {
		width: 15rem;
	}

	.mega__menu__type__content__link__section {
		max-width: none;
	}
}
