.loaded .modal__menu {
    transition: 0.25s ease-in-out;
}

.modal__menu {
    position: fixed;
    top: 5rem;
    bottom: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    overflow: scroll;
    pointer-events: none;
    max-width: 100%;
    width: 100%;
    background: #DFE6E5;
    visibility: hidden;
    overscroll-behavior: contain;
    border-top: 1px solid #fff;


    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translate(0%, 0);
    }
}

.modal__menu__list a {
    font-family: Playfair Display SC;
    font-size: 3rem;
    line-height: 3.5rem;
    color: inherit;
    text-decoration: none;
}

.modal__menu__list ul {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    list-style: none;
}

.modal__menu__list {
    padding: 4rem 0;
    flex: 1;
}

.modal__menu__contact {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    flex-direction: column;
    opacity: 0;
    transform: translate(0,5px);
    transition: 0.35s ease-in-out 0s;
}
.modal__menu__list {
    opacity: 0;
    transform: translate(0px, -15px);
}

.modal__menu__list {
    transition: 0.35s ease-in-out 0s;
}

.modal__menu.active .modal__menu__list {
    opacity: 1;
    transition-delay: 0.1s;
    transform: translate(0,0);
}

.modal__menu.active .modal__menu__contact {
    opacity: 1;
    transition-delay: 0.1s;
    transform: translate(0,0);
}

.modal__menu__list a:hover {
    color: #537b74;
}
body.open_menu {
    background: #dfe6e5;
}
.open_menu .header_main {
    background: #dfe6e5;
}
.loaded body{
    transition:0.25s ease-in-out
}


.modal__menu__contact .contact__col__info__item:before {
    top: 1.5px;
}
body.body-lock{position: fixed;width: 100%;}


.loaded .modal__menu__overlay {
    transition: 0.125s ease-in-out;
}


.modal__menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    pointer-events: none;

    &.active {
        opacity: 1;
        z-index: 9;
        visibility: visible;
        pointer-events: all;
    }
}

.modal__menu::-webkit-scrollbar {
    display: none;
}

.modal__menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal__menu__inner {
    padding: 20px 20px 40px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

ul.modal__sub__menu--1 {
    display: none;
    padding: 16px 0 0rem 25px;
    margin-bottom: -10px;
}

.modal__has__sub__menu {
    position: relative;
}

.btn_modal__has__sub__menu {
    position: absolute;
    right: 0;
    top: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23998D62' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    font-size: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 35%;
    z-index: 2;
    filter: brightness(0);
    cursor: pointer;
}

.loaded .btn_modal__has__sub__menu {
    transition: 0.35s;
}

.modal__has__sub__menu.active>a {
    color: #998D62;
}

.modal__has__sub__menu.active>.btn_modal__has__sub__menu {
    filter: none;
    transform: rotate(180deg);
}

.modal__sub__menu--1 a {
    font-size: 26px;
    line-height: 1.35;
}

ul.modal__sub__menu li {
    position: relative;
}

.modal__sub__menu--2 a {
    font-family: inherit;
    font-size: 18px;
}

.modal__sub__menu--2 li {
    margin-bottom: 0.5rem;
}

.modal__sub__menu--2>li:last-child {
    margin-bottom: 0;
}

.modal__sub__menu--1 li {
    margin-bottom: 10px;
}

.modal__sub__menu--1>li:last-child {
    margin-bottom: 0;
}

.modal__sub__menu--1 .btn_modal__has__sub__menu {
    top: 2px;
    right: 0;
}

ul.modal__sub__menu--2 {
    padding: 20px 0 2px 25px;
    gap: 0;
    display: none;
}

@media screen and (max-width: 500px) {
    .modal__menu__list>ul>li>a {
        font-size: 2.5rem;
    }
    }