<div class="category__filter js_category__filter">
    <div class="category__filter__content">

        <div class="category__filter__content__col category__filter__content__col--1">
            <div class="cat_fil__attribute js_cat_fil__attribute">
                <div class="cat_fil__attribute__view">
                    <div class="cat_fil__attribute__view__current" data-default="All metals" data-before='Metal,Metals'>All metals</div>
                </div>
                <div class="cat_fil__attribute__content">
                    <div class="cat_fil__attribute__content__choose js_cat_fil__attribute__color__list">
                        <label class="cat_fil__attribute__content__choose__item">
                            <input type="checkbox" name="metall" value="White gold">
                            <div class="cat_fil__attribute__content__choose__item__view"></div>
                            <div class="cat_fil__attribute__content__choose__item__text">White gold</div>
                        </label>
                        <label class="cat_fil__attribute__content__choose__item">
                            <input type="checkbox" name="metall" value="Rose gold">
                            <div class="cat_fil__attribute__content__choose__item__view"></div>
                            <div class="cat_fil__attribute__content__choose__item__text">Rose gold</div>
                        </label>
                        <label class="cat_fil__attribute__content__choose__item">
                            <input type="checkbox" name="metall" value="Yellow gold">
                            <div class="cat_fil__attribute__content__choose__item__view"></div>
                            <div class="cat_fil__attribute__content__choose__item__text">Yellow gold</div>
                        </label>
                    </div>
                    <div class="cat_fil__attribute__content__apply">
                        <button class="btn_default btn_x btn_black btn__cat_fil__apply js_btn__cat_fil__apply js_btn__cat_color">Apply</button>
                    </div>
                </div>
            </div>

            <div class="cat_fil__attribute js_cat_fil__attribute cat_fil__attribute--price">
                <div class="cat_fil__attribute__view">
                    <div class="cat_fil__attribute__view__current" data-default="Price" data-before="Price">Price</div>
                </div>
                <div class="cat_fil__attribute__content">
                    <div class="cat_fil__price__slider">
                        <div class="cat_fil__price__slider__line js_price_slider" data-min="0" data-max="60000"></div>
                        <div class="cat_fil__price__slider__line__row">

                            <div class="cat_fil__price__slider__field">
                                <label class="form_x__item form_x__item--price__filter">
                                    <div class="form_x__item__title">Min, $</div>
                                    <input name="min" placeholder="0" required type="number" class="js_price_filter_min" data-default="0">
                                </label>
                            </div>
                            <div class="cat_fil__price__slider__field--divide">-</div>
                            <div class="cat_fil__price__slider__field">
                                <label class="form_x__item form_x__item--price__filter">
                                    <div class="form_x__item__title">Max $</div>
                                    <input name="max" placeholder="10000" required type="number"  class="js_price_filter_max"  data-default="60000">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="cat_fil__attribute__content__apply">
                        <button class="btn_default btn_x btn_black btn__cat_fil__apply js_btn__cat_fil__apply js_btn__cat_price">Apply</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="category__filter__content__col category__filter__content__col--2">
            <div class="category__filter__search">
                <form action="">
                    <div class="form_x__item form_x__item--filter">
                        <button class="btn_default btn_category__filter__search">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.33333 12.6667C10.2789 12.6667 12.6667 10.2789 12.6667 7.33333C12.6667 4.38781 10.2789 2 7.33333 2C4.38781 2 2 4.38781 2 7.33333C2 10.2789 4.38781 12.6667 7.33333 12.6667Z" stroke="#CECCC2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M13.9996 14L11.0996 11.1" stroke="#CECCC2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <input type="text" name="s" required placeholder="Item name or SKU..">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>