<div class="mega_menu__section">


        <div class="mega_menu__content">
            <div class="container">
            <div class="mega__menu__row">

                <div class="mega__menu__type__list js_mega__menu__type__list">

                    <div class="mega__menu__type__link mega__menu__type__link--gold active">
                        <a href="" class="mega__menu__type__link__x">
                            <span class="mega__menu__type__link__x__small">Our</span>
                            <span>gold collection</span>
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L5 5L1 1" stroke="#232121" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>

                        <div class="mega__menu__type__content__block">
                            <div class="mega__menu__type__content__link__section">
                                <div class="mega__menu__type__content__link__list">
                                    <a href="">
                                        <span class="mega__menu__type__content__link__type">Gold</span>
                                        <span class="mega__menu__type__content__link__name">NECKLACE</span>
                                    </a>
                                    <a href="">
                                        <span class="mega__menu__type__content__link__type">Gold</span>
                                        <span class="mega__menu__type__content__link__name">PENDANTS</span>
                                    </a>
                                    <a href="">
                                        <span class="mega__menu__type__content__link__type">Gold</span>
                                        <span class="mega__menu__type__content__link__name">BANGLES</span>
                                    </a>
                                    <a href="">
                                        <span class="mega__menu__type__content__link__type">Gold</span>
                                        <span class="mega__menu__type__content__link__name">EARRINGS</span>
                                    </a>
                                    <a href="">
                                        <span class="mega__menu__type__content__link__type">Gold</span>
                                        <span class="mega__menu__type__content__link__name">RINGS</span>
                                    </a>
                                    <a href="">
                                        <span class="mega__menu__type__content__link__type">Gold</span>
                                        <span class="mega__menu__type__content__link__name">BRACELETS</span>
                                    </a>
                                </div>
                            </div>
                            <div class="mega__menu__type__content__image__content">
                                <div class="mega__menu__type__content__image">
                                    <div class="mega__menu__type__content__image__inner">
                                        <img src="images/__content/mega-menu.jpg" alt="">
                                    </div>
                                </div>
                                <div class="mega__menu__type__content__image__text">Gold collection is a unique expression of a creator's style and imagination. </div>
                            </div>
                        </div>
                    </div>

                     <div class="mega__menu__type__link mega__menu__type__link--silver">
                        <a href="" class="mega__menu__type__link__x">
                            <span class="mega__menu__type__link__x__small">Our</span>
                            <span>silver collection</span>
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L5 5L1 1" stroke="#232121" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>

                        <div class="mega__menu__type__content__block">
                            <div class="mega__menu__type__content__link__section">
                                <div class="mega__menu__type__content__link__list">
                                    <a href="">
                                        <span class="mega__menu__type__content__link__type">Silver</span>
                                        <span class="mega__menu__type__content__link__name">NECKLACE</span>
                                    </a>
                                    <a href="">
                                        <span class="mega__menu__type__content__link__type">Silver</span>
                                        <span class="mega__menu__type__content__link__name">PENDANTS</span>
                                    </a>
                                    <a href="">
                                        <span class="mega__menu__type__content__link__type">Silver</span>
                                        <span class="mega__menu__type__content__link__name">BANGLES</span>
                                    </a>
                                    <a href="">
                                        <span class="mega__menu__type__content__link__type">Silver</span>
                                        <span class="mega__menu__type__content__link__name">EARRINGS</span>
                                    </a>
                                    <a href="">
                                        <span class="mega__menu__type__content__link__type">Silver</span>
                                        <span class="mega__menu__type__content__link__name">RINGS</span>
                                    </a>
                                    <a href="">
                                        <span class="mega__menu__type__content__link__type">Silver</span>
                                        <span class="mega__menu__type__content__link__name">BRACELETS</span>
                                    </a>
                                </div>
                            </div>
                            <div class="mega__menu__type__content__image__content">
                                <div class="mega__menu__type__content__image">
                                    <div class="mega__menu__type__content__image__inner">
                                        <img src="images/__content/mega-menu.jpg" alt="">
                                    </div>
                                </div>
                                <div class="mega__menu__type__content__image__text">Silver collection is a unique expression of a creator's style and imagination. </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>