.main_footer {
    background: rgba(35, 33, 33, 1);
    color: #fff;
    padding: 2.65rem 0 7rem;
}

.main_footer .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__logo {
    font-size: 0;
    position: absolute;
    bottom: -4.5rem;
    left: 1.25rem;
    width: 2.5rem;
}

.footer__menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    flex: 1;
}

.footer__menu a {
    color: inherit;
    text-decoration: none;
    line-height: 1.25;
    display: block;
}

.footer__menu__list {
    font-size: 0.875rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 1;
    max-width: 12.75rem;
}

.footer__menu {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    max-width: 33.5rem;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__copyright {
    position: absolute;
    bottom: -4.55rem;
    width: 19.65rem;
    right: 1rem;
    font-size: 0.875rem;
}

.footer__social {
    width: 19.65rem;
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.footer__social__item a,
.footer__social__item {
    display: flex;
    align-items: flex-start;
    gap: 0.55rem;
    color: inherit;
    text-decoration: none;
    font-size: 0.875rem;
}

.footer__social__item__icon {
    width: 1rem;
    margin-top: 0.1rem;
}

.footer__social__item__icon svg {
    width: 100%;
    height: auto;
}

.footer__social__item__text {
    flex: 1;
}

.footer__social__item a:hover {
    color: #537b74;
}

.footer__logo img {
    width: 100%;
    height: auto;
}

.footer__social__item a:hover path {
    stroke: #537b74;
}

.loaded .footer__social__item a path {
    transition: 0.25s;
}

.footer__menu a:hover {
    color: #537b74;
}

@media screen and (max-width:750px) {
    .footer__menu {
        flex: none;
        width: 100%;
        margin-bottom: 2.25rem;
    }

    .footer__menu ul {
        gap: 0.45rem;
    }

    .footer__copyright {
        text-align: right;
        bottom: -4rem;
    }
}


@media screen and (max-width:550px) {
    .footer__menu ul {
        width: 100%;
        flex: none;
        gap: .65rem;
    }

    .footer__menu__list {
        gap: 0.65rem;
    }

    .footer__copyright {
        font-size: 0.75rem;
        opacity: 0.75;
    }

    .footer__social__item__icon {
        margin-top: 0.015rem;
    }

    .footer__social {
        gap: 0.35rem;
    }
}