.header_menu a {
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
}

.header_menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.header_main .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.header_main {
    padding: 0.25rem 0;
    border-bottom: 1px solid var(--Lightest-green, #dfe6e5);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9;
    top: 0;
    background: #fff;
}

.header_menu {
    flex: 1;
    justify-content: center;
    display: flex;
    padding-left: 4.9rem;
}

.header__logo {
    font-size: 0;
    display: inline-flex;
    align-items: center;
    width: 3.75rem;
}

.header__logo img {
    width: 100%;
    height: auto;
}

.header_btn_menu {
    display: none;
}

.header__info__action {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.25rem;
}



.header__link__login {
    text-align: center;
    font-weight: 600;
    line-height: 1.25rem;
    color: inherit;
    padding: 0.62rem .785rem;
    text-decoration: none;
    border-radius: 0.125rem;
    border: 0.125rem solid var(--Black);
    min-width: 5.5rem;
}

.header__link__favorite {
    font-size: 0;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__link__favorite svg {
    width: 75%;
    height: auto;
}



.header_menu a:hover {
    color: var(--Green-dark, #537B74);
}

.header__link__login:hover {
    color: #fff;
    background: var(--Green-dark, #537B74);
    border-color: var(--Green-dark, #537B74);
}

.header__link__favorite:hover path {
    fill: var(--Green-dark, #537B74);
    stroke: var(--Green-dark, #537B74);
}

.loaded .header__link__favorite path {
    transition: 0.25s ease-in-out;
}

.header__link__favorite path {
    fill: transparent;
}

.header__link__favorite {
    position: relative;
}

.header__link__favorite__count {
    position: absolute;
    z-index: 2;
    font-size: 0.75rem;
    background: #537B74;
    color: #fff;
    width: 0.75rem;
    height: 0.75rem;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    line-height: 1;
    padding-top: 0.15rem;
    right: 0.025rem;
    top: 0.025rem;
}

.header_btn_menu {
    align-items: center;
    justify-content: center;
    height: 44px;
    position: relative;
    background: transparent;
    border: none;
    appearance: none;
    border-radius: 0;
    border: 0.125rem solid var(--Black);
    border-radius: 2px;
    padding: 5px 12px;
    color:inherit;


    span {
        background: var(--Black);
        width: 90%;
        height: 2.25px;
        position: absolute;
        border-radius: 5px;
        margin: auto;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        transition: 0.5s;

        &:nth-child(1) {
            transform: translate(0, -7px);
        }

        &:nth-child(2) {
            transform: translate(0, 0);

        }

        &:nth-child(3) {
            transform: translate(0, 7px);
        }
    }

    &.active {
        span {
            &:nth-child(1) {
                transform: translate(0, 0) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;

            }

            &:nth-child(3) {
                transform: translate(0, 0) rotate(-45deg);
            }
        }

    }
}


.header_main.header_hide {
    transform: translate(0, -100%) !important;
}

.loaded .header_main {
    transition: 0.25s linear;
}


@media screen and (max-width:750px) {

    .header__link__favorite:hover {
        border-color: #537b74;
        background: #537b74;
    }

    .header__link__favorite:hover path {
        fill: #fff;
        stroke: #fff;
    }

    .header_menu {
        display: none;
    }

    .header__info {
        flex: 1;
        justify-content: flex-end;
        display: flex;
        gap: 1rem;
    }

    .header__link__favorite {
        border: 0.125rem solid var(--Black);
        height: 44px;
        border-radius: 2px;
        width: 44px;
        border-width: 1px;
    }

    .header__link__favorite svg {
        width: 60%;
    }

    .header__info__action {
        gap: 1rem;
    }

    .header__link__login {
        height: 44px;
        border-width: 1px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .header_btn_menu {
        display: flex;
        border-width: 1px;
    }

    .header_btn_menu__icon {
        position: relative;
        width: 26px;
        height: 30px;
    }

    .header_btn_menu__text {
        font-weight: 500;
        margin-right: 11px;
        margin-top: 1px;
    }

    .header_btn_menu:hover {
        background: #537b74;
        border-color: #537b74;
        color: #fff;
    }

    .header_btn_menu:hover .header_btn_menu__icon span {
        background: #fff
    }

    .header__link__favorite__count {
        top: -6px;
        right: -8px;
        width: 1rem;
        height: 1rem;
    }
}

@media screen and (max-width:550px) {
    .header__link__login {
        display: none
    }
}