html {
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

html * {
    max-height: 1000000px;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


a[href^="http"]:empty::before {
    content: attr(href);
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

label,
button,
select {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
    outline: none
}

a,
button {
    cursor: pointer
}



html {
    font-size: 16px;
    font-size: 1.1vw;
}


body {
    line-height: 1.4;
    color: var(--Black);
    font-family: Hind;
    padding-top: 5.025rem;
}

@media screen and (max-width:750px) {
    body {
        padding-top: 81px;
    }
}

.loaded a {
    transition: 0.25s ease-in-out;
}

.loaded .btn_default {
    transition: 0.25s ease-in-out;
}

.btn_default {
    appearance: none;
    border-radius: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.hide_scrollbar::-webkit-scrollbar {
    display: none;
}

.hide_scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.page__wrap {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 1.25rem;
    max-width: 84.25rem;
}


.title_x {
    font-weight: 600;
    font-size: 42px;
    line-height: 1.2;
    margin: 0 0 24px;

    &--center {
        text-align: center;
    }
}



.form_field {
    position: relative;
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }

    &--btn {
        margin-bottom: 0;

        button {
            width: 100%;
            justify-content: center;
            font-weight: 500;
            font-size: 17px;
        }
    }

    input {
        width: 100%;
        padding: 14px 20px;
        line-height: 1;
        border: 1px solid rgba(var(--Black), 0.3);
        border-radius: 0px;
        -webkit-appearance: none;
    }

    textarea {
        width: 100%;
        padding: 14px 20px;
        line-height: 1.5;
        border: 1px solid rgba(var(--Black), 0.3);
        border-radius: 0px;
        resize: vertical;
        min-height: 100px;
        -webkit-appearance: none;
    }
}


.fancybox__backdrop {
    background: #fff;
}

.fancybox__nav .carousel__button path {
    stroke: #212121;
}

.fancybox__nav .carousel__button {
    box-shadow: none;
}

.fancybox__content>.carousel__button.is-close path {
    stroke: #212121;
}

.carousel__button svg {
    filter: none;
}

@media screen and (max-width:1000px) {
    html {
        font-size: 1.5vw;
    }

}

@media screen and (max-width:750px) {
    html {
        font-size: 16px;
    }

    .container {
        padding: 0 1rem;
    }
}