.modal__default {
    display: none;
    padding: 0;
    max-width: 28.5rem;
    width: 100%;
}

.modal__inner {
    padding: 32px 50px;
}

.modal__title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.25
}

.modal__myaccount {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(35, 33, 33, 0.90);
    bottom: 0;
    pointer-events: none;
    opacity: 0;
    cursor: pointer;
}

.modal__myaccount__block {
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #fff;
    width: 37.75rem;
    padding: 6.5rem 4.5rem;
    overflow: auto;
    transform: translate(100%, 0);
    transition: 0.3s ease-in-out;
    cursor: default;
    overscroll-behavior: contain;
}

.modal__myaccount__block::-webkit-scrollbar {
    display: none;
}

.modal__myaccount__block {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.btn__modal__myaccount__close {
    position: absolute;
    right: -1rem;
    top: -2.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal__myaccount__inner {
    position: relative;
}

.loaded .btn__modal__myaccount__close {
    transition: 0.25s;
}

.btn__modal__myaccount__close:hover {
    opacity: 0.5;
}


.active.modal__myaccount .modal__myaccount__block {
    transform: translate(0, 0);
}

.loaded .modal__myaccount {
    transition: 0.3s ease-in-out;
    transition-delay: 0.3s;
}

.active.modal__myaccount {
    opacity: 1;
    pointer-events: all;
    transition-delay: 0s;
}

.active.modal__myaccount .modal__myaccount__block {
    transition-delay: 0.3s;
}

.btn__modal__myaccount__close svg {
    width: 75%;
    height: auto;
}

.form_x__row.form_x__row--password {
    flex-direction: column;
    display: flex;
}

.modal__myaccount__top {
    margin-bottom: 2rem;
}

.form_x__item__password__icon {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1113_376)'%3E%3Cpath d='M11.9593 11.9599C10.8197 12.8285 9.43209 13.3098 7.99935 13.3332C3.33268 13.3332 0.666016 7.99985 0.666016 7.99985C1.49528 6.45445 2.64544 5.10426 4.03935 4.03985M6.59935 2.82652C7.05824 2.71911 7.52806 2.66541 7.99935 2.66652C12.666 2.66652 15.3327 7.99985 15.3327 7.99985C14.928 8.75693 14.4454 9.46968 13.8927 10.1265M9.41268 9.41319C9.22958 9.60969 9.00878 9.76729 8.76345 9.8766C8.51812 9.98591 8.25328 10.0447 7.98474 10.0494C7.7162 10.0542 7.44946 10.0048 7.20042 9.90418C6.95139 9.80359 6.72516 9.65387 6.53525 9.46396C6.34533 9.27404 6.19561 9.04782 6.09502 8.79878C5.99443 8.54975 5.94503 8.283 5.94977 8.01446C5.95451 7.74592 6.01329 7.48108 6.1226 7.23575C6.23191 6.99042 6.38952 6.76962 6.58602 6.58652' stroke='%2356575E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M0.666016 0.666504L15.3327 15.3332' stroke='%2356575E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1113_376'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: 50%;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    right: 0;
    top: 1.5rem;
    background-repeat: no-repeat;
    background-position: 35% 50%;
    cursor: pointer;
}

.form_x__item--password {
    position: relative;
}

.form_x__item--password__forgot a {
    color: var(--Green-dark, #537B74);


    /* Paragraph 2/Regular/14px */
    font-size: 0.875rem;
    line-height: 1.2;
    /* 142.857% */
    text-decoration: none;
}

.form_x__item--password__forgot {
    text-align: right;
    margin-top: -0.5rem;
}

.form_x__item--password__forgot a:hover {
    color: inherit;
}

.modal__myaccount__form__regiter__text {
    margin-top: 1.5rem;
    text-align: center;


    /* H6 Headline */
    line-height: 1.25;
    /* 125% */
    text-transform: uppercase;
}

.modal__myaccount__form__regiter__text a {
    color: var(--Green-dark, #537B74);
}

.modal__myaccount__form__regiter__text a:hover {
    text-decoration: none;
    color: inherit;
}

.form_x__item__password__icon.active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' width='512' height='512' x='0' y='0' viewBox='0 0 511.999 511.999' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cpath d='M508.745 246.041c-4.574-6.257-113.557-153.206-252.748-153.206S7.818 239.784 3.249 246.035a16.896 16.896 0 0 0 0 19.923c4.569 6.257 113.557 153.206 252.748 153.206s248.174-146.95 252.748-153.201a16.875 16.875 0 0 0 0-19.922zM255.997 385.406c-102.529 0-191.33-97.533-217.617-129.418 26.253-31.913 114.868-129.395 217.617-129.395 102.524 0 191.319 97.516 217.617 129.418-26.253 31.912-114.868 129.395-217.617 129.395z' fill='%2356575e' opacity='1' data-original='%23000000' class=''%3E%3C/path%3E%3Cpath d='M255.997 154.725c-55.842 0-101.275 45.433-101.275 101.275s45.433 101.275 101.275 101.275S357.272 311.842 357.272 256s-45.433-101.275-101.275-101.275zm0 168.791c-37.23 0-67.516-30.287-67.516-67.516s30.287-67.516 67.516-67.516 67.516 30.287 67.516 67.516-30.286 67.516-67.516 67.516z' fill='%2356575e' opacity='1' data-original='%23000000' class=''%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.text_1.modal__myaccount__text a {
    color: var(--Green-dark);
}

.text_1.modal__myaccount__text a:hover {
    color: inherit;
    text-decoration: none;
}

.btn_ghost {
    border: 0.1rem solid;
    padding: 0.65rem;
    border-radius: 0.15rem;
    font-weight: 600;
}

.btn_ghost:hover {
    border-color: #232121;
    background: #232121;
    color: #fff;
}

.modal__wishlist__list__item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 1.5rem )/ 3 );
    text-align: center;
}

.modal__wishlist__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    flex: 1;
}

.modal__wishlist__list__item__image__inner {
    padding-top: 100%;
    position: relative;
}

.modal__wishlist__list__item__image__inner img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
}

.modal__wishlist__list__item:nth-child(n +4) {
    display: none;
}

.modal__wishlist__block__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--Lightest-green, #DFE6E5);
}

.modal__wishlist__block__show__all a {
    color: var(--Green-dark, #537B74);
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    gap: 0.5rem;
}

.modal__wishlist__block__show__all {
    width: 6rem;
    text-align: right;
}

.modal__wishlist__block__show__all a svg {
    margin-top: -0.15rem;
    width: 1.15rem;
    height: auto;
    transition: 0.25s;
}

.modal__wishlist__block__show__all a:hover {
    color: inherit;
}

.modal__wishlist__block__show__all a:hover svg {
    transform: translate(0.15rem, 0px);
}

.modal__wishlist__block__show__all a svg path {
    transition: 0.25s;
}

.modal__wishlist__block__show__all a:hover svg path {
    fill: #212121;
}

.form_x__item.form_x__item--text {
    font-size: 0.875rem;
}

.modal__myaccount__block--wishlist {
    width: 44.5rem;
}

.form_x__item__add_text {
    color: var(--text-icon-secondary-black, rgba(29, 36, 51, 0.80));
    font-size: 0.75rem;
}

.modal__wishlist__list__item__image {
    margin-bottom: 0.25rem;
}

.modal__wishlist__list__item__title a {
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1.35;
}

.modal__wishlist__list__item__title {
    min-height: 2.8rem;
    margin-bottom: 0.75rem;
}

.modal__wishlist__list__item__price {
    color: var(--Gray, #56575E);
    font-size: 0.875rem;
    font-weight: 500;
}

.modal__wishlist__list__item__title a:hover {
    color: #537b74;
}

@media screen and (max-width:750px) {
    .modal__myaccount__block {
        max-width: 520px;
        width: 100%;
        padding: 4rem 2rem;
    }
    .modal__wishlist__list__item {
        width: calc((100% - 1rem)/ 2);
    }

    .modal__wishlist__block__list {
        flex-direction: column;
    }

    .modal__wishlist__block__show__all {
        text-align: center;
        width: 100%;
        margin-top: 2rem;
    }

    .modal__wishlist__list {
        gap: 1rem;
    }
}

@media screen and (max-width:550px) {
    .modal__myaccount__block {
        padding: 3rem 1.5rem;
    }

    .form_x__row.form_x__row--password {
        gap: 1.15rem;
    }
}