.page__top {
    text-align: center;
    max-width:40.5rem;
    margin: 0 auto;
    padding: 2.07rem 0 4rem;
}

.title_1 {
    font-family: Playfair Display SC;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 1rem;
}

.text_1 {
    color: var(--Gray, #56575E);
    font-size: 1.015rem;
    line-height: 1.5;
}

.about__section_1 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}

.about__section_1__image {
    margin-left: calc(-1 * (100vw - 84.25rem + 2.5rem)/ 2);
    width: 58.78rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.about__section_1__image__inner {
    height: 100%;
    position: relative;
}

.about__section_1__image__inner img {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    object-fit: cover;
}

.about__section_1__info {
    position: relative;
    z-index: 2;
    background: var(--Lightest-green, #DFE6E5);
    max-width: 33.5rem;
    margin: 6.1rem 0;
    padding: 4rem;
    margin-right: 6.75rem;
    line-height: 1.53;
}

.default__text p {
    margin-bottom: 2rem;
}

.default__text p:last-child {
    margin-bottom: 0;
}

.about__section_text {
    text-align: center;
    margin-bottom: 7.55rem;
}

.about__section_text__content {
    max-width: 40rem;
    margin: 0 auto;
    line-height: 1.52;
}

.about__section_gallery__title {
    text-align: center;
}

.about__section_gallery__text {
    text-align: center;
    margin-top: -0.65rem;
}

.about__section_gallery__item {
    padding: 0 0.5rem;
}

.about__section_gallery__list {
    margin: 0 -0.5rem;
    margin-top: 1.9rem;
}

.about__section_gallery__list:before,
.about__section_gallery__list:after {
    display: block;
    width: 100vw;
    height: 1px;
    background: var(--Green-light, #A7C6C1);
    content: '';
    left: calc(-1 * (100vw - 84.25rem + 2.5rem)/ 2);
    position: relative;
}

.slick-arrow {
    position: absolute;
    z-index: 2;
}

.about__section_gallery__list:before {
    margin-bottom: 2.5rem;
}

.about__section_gallery__item__image__inner {
    padding-top: 76%;
    position: relative;
}

.about__section_gallery__item__image__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-arrow {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 0;
    width: 2rem;
    height: 2rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 65%;
}

.slick-prev.slick-arrow {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 18L9 12L15 6' stroke='%2356575E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.slick-prev.slick-arrow {
    top: 11rem;
    left: 0.5rem;
}

.slick-arrow:hover {
    opacity: 0.75;
}

.slick-next.slick-arrow {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18L15 12L9 6' stroke='%2356575E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    right: 0.5rem;
    top: 11rem;
}

.about__section_gallery__item__info {
    text-align: center;
    padding-top: 1.35rem;
}

.about__section_gallery__item__title {
    font-family: Playfair Display SC;
    font-size: 1.125rem;
}

.about__section_gallery__item__link {
    color: inherit;
    text-align: center;


    /* H6 Headline */
    line-height: 1.25rem;
    /* 125% */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 0.45rem;
    margin-top: 0.35rem;
}

.page__container {
    padding: 0 0 5rem;
}


.about__section_gallery__list:after {
    margin-top: 2.45rem;
}

.about__section_gallery {
    padding-bottom: 2.5rem;
}

.about__section_gallery__item__link svg {
    width: 1.25rem;
    height: auto;
    margin-top: -0.25rem;
}

.about__section_gallery__item__link:hover {
    color: #537b74;
}

.about__section_gallery__item__link:hover path {
    fill: #537b74;
}

.about__section_gallery__item__link:hover svg {
    transform: translate(0.25rem, 0px);
}

.loaded .about__section_gallery__item__link svg {
    transition: 0.25s;
}




@media screen and (max-width:1000px) {
    .about__section_1__image {
        margin-left: -1.25rem;
        width: calc(100% + 2.5rem);
    }

    .slick-next.slick-arrow,
    .slick-prev.slick-arrow {
        top: 10rem;
    }
}

@media screen and (max-width:750px) {
    .title_1 {
        font-size: 2.15rem;
        margin-bottom: 1.25rem;
        line-height: 1.05;
    }

    .text_1 {
        font-size: 1rem;
        line-height: 1.45;
        font-size: 0.9rem;
    }

    .page__top {
        padding: 2.25rem 0 3.25rem;
    }

    .about__section_1__image {
        position: static;
        margin: 0 -1rem;
        width: calc(100% + 2rem);
        height: auto;
    }

    .about__section_1__image__inner {
        padding-top: 60%;
    }

    .about__section_1__info {
        margin: -1rem 0 0;
        padding: 1.75rem;
        font-size: 0.9rem;
        max-width: 800px;
    }

    .about__section_1 {
        margin-bottom: 2.25rem;
    }

    .about__section_text__content {
        text-align: left;
        font-size: 0.9rem;
        max-width: 500px;
    }

    .about__section_text {
        margin-bottom: 2.75rem;
    }

    .about__section_gallery__text {
        margin-top: 0;
    }

    .about__section_gallery__list:before,
    .about__section_gallery__list:after {
        left: -0.5rem;
        right: -0.5rem;
    }

    .page__container {
        padding-bottom: 2.5rem;
    }

    .about__section_gallery {
        padding-bottom: 1.5rem;
    }

    .about__section_gallery__item__content {
        min-width: 320px;
    }

    .about__section_gallery__list {
        margin: 2rem -1rem 0;
    }

    .about__section_gallery__item {
        padding: 0 0 0 1rem;
    }

    .slick-prev.slick-arrow {
        left: 1.5rem;
    }

    .slick-next.slick-arrow,
    .slick-prev.slick-arrow {
        top: 9.25rem;
    }

    .about__section_gallery__item__link {
        margin-top: 0.5rem;
        margin-right: -15px;
        font-size: 0.9rem;
    }

    .about__section_gallery__item__link svg {
        width: 1.5rem;
        margin-bottom: -0.5px;
    }
}