.catalog__page__list {
    margin-bottom: 10rem;
}

@media screen and (max-width:1000px) {
    .catalog__page__list {
        margin-bottom: 7.5rem;
    }
}

@media screen and (max-width:750px) {
    .catalog__page__list {
        margin-bottom: 3.5rem;
    }
}