.collection__top__categories {
	text-align: center;
	max-width: 60rem;
	margin: -1.15rem auto 0;
	display: flex;
	justify-content: center;
	gap: 0.5rem 2.125rem;
	flex-wrap: wrap;
}

.collection__top__categories a {
	color: inherit;
	font-family: Playfair Display SC;
	font-size: 1.125rem;
	text-decoration: none;
}

.collection__top__categories a:hover {
	color: #537b74;
}

.categories__item {
	padding: 2rem;
	width: calc(100% / 2 - 0.5rem);
	background: radial-gradient(50% 50% at 50% 50%, #f2f7f1 0%, #e0e6df 100%);
}

.categories__list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 7.5rem;
}

.categories__item:nth-child(3n) {
	width: 100%;
}

.collection__top__categories {
	margin-bottom: 4rem;
}

.categories__item__title {
	font-family: Playfair Display SC;
	font-size: 4.5rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.categories__item__info {
	text-align: center;
	position: relative;
	z-index: 2;
}

.categories__item__link {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
	gap: 0.55rem;
}

.loaded .categories__item__link svg {
	transition: 0.25s;
}

.categories__item__link svg {
	width: 1rem;
	height: auto;
	margin-top: -0.175rem;
}

.categories__item__image__inner {
	padding-top: 100%;
	position: relative;
}

.categories__item__image__inner img {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	top: 0;
	object-fit: contain;
}

.categories__item__image {
	max-width: 21.5rem;
	margin: -1.7rem auto -2.7rem;
}

.categories__item--color_1 {
	background: radial-gradient(50% 50% at 50% 50%, #f2f7f1 0%, #e0e6df 100%);
}

.categories__item--color_2 {
	background: radial-gradient(50% 50% at 50% 50%, #f6f5e9 0%, #e6e5df 100%);
}

.categories__item--color_3 {
	background: radial-gradient(50% 50% at 50% 50%, #fff 0%, #edecec 100%);
}

.categories__item--color_4 {
	background: radial-gradient(50% 50% at 50% 50%, #faf3f7 0%, #e6dfe3 100%);
}

.categories__item--color_5 {
	background: radial-gradient(
		58.8% 58.8% at 50.08% 41.2%,
		#eef4f3 0%,
		#dfe6e5 100%
	);
}
.categories__item--color_6 {
	background: radial-gradient(50% 50% at 50% 50%, #ecf1f5 0%, #dce3e9 100%);
}

.categories__item__link:hover {
	color: #537b74;
}

.categories__item__link:hover svg {
	transform: translate(0.25rem, 0);
}

.categories__item__link:hover svg path {
	fill: #537b74;
}

.subscribe__block {
	background: var(--Lightest-green, #dfe6e5);
	padding: 7.5rem 0;
	width: 100vw;
	margin-left: calc(-1 * (100vw - 84.25rem + 2.5rem) / 2);
	text-align: center;
}

.subscribe__block__logo {
	text-align: center;
	width: 6.5rem;
	margin: 0 auto;
	font-size: 0;
	margin-bottom: 2rem;
}

.subscribe__block__logo img {
	width: 100%;
	height: auto;
}

.subscribe__block__form__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
}

.subscribe__block__form {
	max-width: 40.5rem;
	margin: 0 auto;
}

.subscribe__block__title.title_1 {
	margin-bottom: 5.2rem;
}

.form_x__item.form_x__item--subscribe_field input {
	border-radius: 0;
	height: 100%;
	border: none;
	background: transparent;
	border-bottom: 1px solid;
}

.form_x__item.form_x__item--subscribe_btn {
	width: 14.75rem;
	flex: none;
}

.btn_x-subscribe_form {
	padding: 1.25rem;
	border-radius: 0.125rem 0.125rem 0.125rem 0;
	border-color: #232121;
}

.page__container.page__container--collections {
	padding-bottom: 0;
}

.btn_x-subscribe_form:hover {
	background: transparent;
}

.categories__item:hover .categories__item__image img {
	transform: scale(0.975);
}

.loaded .categories__item__image__inner img {
	transition: 0.4s ease-in-out;
}

.categories__item.categories__item--gold {
	background: var(--light-brown-2, #f6f3e8);
}

.categories__item.categories__item--gold .categories__item__title {
	color: #998d62;
}

.categories__item.categories__item--silver {
	background: var(--Light-gray, #f0f0f0);
}
.categories__item.categories__item--silver .categories__item__title {
	color: #56575e;
}

@media screen and (max-width: 1000px) {
	.categories__item__title {
		font-size: 3rem;
		margin-bottom: 1.25rem;
	}

	.subscribe__block {
		margin-left: -1rem;
		padding: 4rem 0 5rem;
	}

	.categories__list {
		margin-bottom: 1rem;
	}

	.categories__item__image {
		max-width: 18.5rem;
		margin: -0.5rem auto -1rem;
	}
}
@media screen and (max-width: 750px) {
	.categories__item {
		width: 100%;
		padding: 2.25rem 1.5rem;
	}

	.collection__top__categories {
		gap: 0.35rem 2rem;
		margin-bottom: 2rem;
	}

	.collection__top__categories a {
		font-size: 1rem;
	}

	.categories__item__title {
		font-size: 2.25rem;
	}

	.categories__item__image {
		max-width: 80%;
		margin: 0rem auto -1rem;
	}

	.subscribe__block__title.title_1 {
		font-size: 1.285rem;
		margin-bottom: 1.5rem;
	}

	.subscribe__block__logo {
		width: 3.5rem;
		margin-bottom: 1.5rem;
	}

	.subscribe__block {
		padding: 3rem 0 3.5rem;
	}

	.subscribe__block__form__row {
		flex-direction: column;
		gap: 1rem;
	}

	.btn_x-subscribe_form {
		width: 100%;
		padding: 1rem;
		border-radius: 0.125rem;
		font-size: 0.9rem;
	}

	.form_x__item.form_x__item--subscribe_btn {
		width: 100%;
	}

	.form_x__item.form_x__item--subscribe_field input {
		text-align: center;
	}
	.subscribe__block__form {
		max-width: 400px;
	}
}
