.contact__col__title {
    font-family: Playfair Display SC;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.2;
    /* 122.222% */
    margin: 0;
    margin-bottom: 1.1rem;
}

.contact__row .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 4.5rem;
}

.contact__col {
    padding: 4.2rem 0 13.25rem;
    flex: 1;
}

.contact__col--1 {
    background: var(--Lightest-green, #DFE6E5);
    max-width: 45%;
    position: relative;
}

.contact__col--2 {
    padding-left: 0rem;
}

.contact__col__text {
    max-width: 30rem;
}

.contact__col--1:before {
    content: '';
    background: var(--Lightest-green, #DFE6E5);
    position: absolute;
    top: 0;
    left: calc(-1 * ((100vw - 84.25rem + 1.25rem * 2) / 2));
    height: 100%;
    width: calc((100vw - 84.25rem + 1.25rem * 2) / 2);
}

.contact__col__info__item {


    /* H4 Headline */
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.25;
    /* 100% */
    padding-left: 2rem;
    position: relative;
}

.contact__col__info {
    margin-top: 4.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.45rem;
}

.contact__col__info__item a {
    color: inherit;
    text-decoration: none;
}

.contact__col__info__item a:hover {
    color: #537b74;
}

.contact__col__info__item:before {
    content: '';
    position: absolute;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z' stroke='%23232121' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z' stroke='%23232121' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

.contact__col__info__item--phone:before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.9994 16.92V19.92C22.0006 20.1985 21.9435 20.4742 21.832 20.7294C21.7204 20.9845 21.5567 21.2136 21.3515 21.4019C21.1463 21.5901 20.904 21.7335 20.6402 21.8227C20.3764 21.9119 20.0968 21.9451 19.8194 21.92C16.7423 21.5856 13.7864 20.5342 11.1894 18.85C8.77327 17.3147 6.72478 15.2662 5.18945 12.85C3.49942 10.2412 2.44769 7.271 2.11944 4.18001C2.09446 3.90347 2.12732 3.62477 2.21595 3.36163C2.30457 3.09849 2.44702 2.85669 2.63421 2.65163C2.82141 2.44656 3.04925 2.28271 3.30324 2.17053C3.55722 2.05834 3.83179 2.00027 4.10945 2.00001H7.10945C7.59475 1.99523 8.06524 2.16708 8.43321 2.48354C8.80118 2.79999 9.04152 3.23945 9.10944 3.72001C9.23607 4.68007 9.47089 5.62273 9.80945 6.53001C9.94399 6.88793 9.97311 7.27692 9.89335 7.65089C9.8136 8.02485 9.62831 8.36812 9.35944 8.64001L8.08945 9.91001C9.513 12.4136 11.5859 14.4865 14.0894 15.91L15.3594 14.64C15.6313 14.3711 15.9746 14.1859 16.3486 14.1061C16.7225 14.0263 17.1115 14.0555 17.4694 14.19C18.3767 14.5286 19.3194 14.7634 20.2794 14.89C20.7652 14.9585 21.2088 15.2032 21.526 15.5775C21.8431 15.9518 22.0116 16.4296 21.9994 16.92Z' stroke='%23232121' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.contact__col__social {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    position: absolute;
    bottom: 4rem;
    margin-left: -0.35rem;
}

.contact__col__social a {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
}

.contact__col__social a svg {
    width: 100%;
    height: auto;
}

.contact__col__social a:hover path {
    fill: #000;
}

.contact__col__social a:hover {
    filter: brightness(0);
}

.form_x__row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form_x__item {
    flex: 1;
}

.form_x__item input,
.form_x__item textarea {
    width: 100%;
    height: auto;
    border-radius: 0.125rem;
    border: 1px solid var(--Light-brown, #CECCC2);
    background: var(--White, #FFF);
    padding: .85rem .75rem 0.65rem
}

.contact__form {
    margin-top: 1.85rem;
}

.form_x__item__title {
    font-size: 0.8rem;
    color: rgba(29, 36, 51, 1);
    margin-bottom: 0.25rem;
}

.form_x {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
}

.form_x__item textarea {
    height: 6.5rem;
    resize: vertical;
}

.btn_x {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn_black {
    border: 0.15rem solid;
    border-radius: 0.125rem;
    background: var(--Black, #232121);
    color: #fff;
    padding: 0.85rem;
    font-weight: 600;
}

.form_x__row.form_x__row--btn {
    margin-top: -0.5rem;
}

.btn_black:hover {
    background: #fff;
    color: #000;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0.125rem;
    border: 1px solid var(--Light-brown, #CECCC2);
    background: var(--White, #FFF);
    height: auto;
    padding: 0.5rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0;
    color: inherit;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6L8 10L12 6' stroke='%2356575E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    height: 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    max-width: 2rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-container--default.select2-container--open .select2-selection--single {
    border: 1px solid var(--Green-dark, #537B74);
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
    transform: rotate(180deg);
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: var(--Lightest-green-2, #E9EEED);
    color: inherit;
}

.select2-results__option {
    padding: 0.6rem;
}

.select2-dropdown {
    border-color: #537b74;
}

.select2-container--default .select2-results__option--selected {
    background: #537b74;
    color: #fff;
}

.select2-results__option:last-child {
    border-radius: 0 0 0.2rem 0.2rem;
}

.contact__thanks {
    display: none;
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 2;
    top: 4.2rem;
    left: 0;
    bottom: 0;
}

.contact__col--2 {
    position: relative;
}

.contact__col__social a img {
    width: 50%;
}

.page__container.page__container--contact {
    padding: 0;
}


@media screen and (max-width:1000px) {

    .contact__col--1:before {
        left: -1.5rem;
        width: 1.5rem;
    }

    .contact__col__title {
        font-size: 2.75rem;
    }

    .contact__row .container {
        gap: 2.5rem;
    }
}

@media screen and (max-width:750px) {
    .contact__col {
        width: calc(100% + 2rem);
        flex: none;
        max-width: calc(100% + 2rem);
        margin: 0 -1rem;
        padding: 3rem 1rem;
    }

    .contact__col__title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .contact__col__text {
        max-width: 25rem;
        line-height: 1.45;
    }

    .contact__col__info {
        margin-top: 1.5rem;
        gap: 0.5rem;
    }

    .contact__thanks {
        top: 0;
        padding: 3rem 1rem;
    }

    .contact__col__info__item {
        font-size: 1rem;
        padding-left: 2rem;
        padding-top: 0.25rem;
    }

    .contact__col__info__item:before {
        background-position: 50% 0%;
        top: 3px;
        width: 1.25rem;
        height: 1.25rem;
    }

    .contact__col__social {
        position: static;
        margin-top: 1.5rem;
    }

    .contact__row .container {
        gap: 0;
    }

    .form_x__row.form_x__row--btn {
        margin-top: 0;
    }
    .form_x__row.form_x__row--btn+.form_x__row.form_x__row--btn {
        margin-top: -0.75rem;
    }
}

@media screen and (max-width:550px) {

    .form_x--contact {
        gap: 1.5rem;
    }

    .form_x__row {
        flex-direction: column;
        gap: 1.5rem;
    }
}