.breadcrumbs {
    font-family: Playfair Display SC;
    /* 125% */
    text-transform: uppercase;
    padding: 2rem 0;
}

.breadcrumbs ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.breadcrumbs a:after {
    content: '/';
    margin-left: 0.2rem;
    color: var(--Black);
}

.breadcrumbs a {
    text-decoration: none;
    color: inherit;
}

.event__main__content__row {
    display: flex;
    flex-wrap: wrap;
    gap: 3.95rem;
}

.event__main__image {
    flex: 1;
}

.event__main__info {
    width: 30.45rem;
}

.event__main__image__inner {
    padding-top: 80%;
    position: relative;
}

.event__main__image__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.event__page__date {
    font-size: 0.875rem;
    margin-bottom: 1.75rem;
}

.title_1.event__title {
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

.event__page__list__info__block__title {
    font-family: Playfair Display SC;
    font-size: 1.125rem;
    border-bottom: 1px solid var(--Green-light, #A7C6C1);
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
}

.event__page__list__info__block__content {
    line-height: 1.52;
}

.event__page__list__info {
    display: flex;
    flex-wrap: wrap;
    gap: 2.1rem;
    align-items: flex-start;
}

.event__page__list__info__block {
    width: 100%;
}

.event__page_share {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.event__page_share a {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event__page_share a svg {
    width: 67.5%;
    height: auto;
}

.event__main__content {
    margin-bottom: 15rem;
}

.loaded .event__page_share a path {
    transition: 0.25s ease-in-out
}

.event__page_share a:hover path {
    stroke: var(--Black);
}

.breadcrumbs a:hover {
    color: #537b74;
}

@media screen and (max-width:1000px) {
    .event__main__content {
        margin-bottom: 7.5rem;
    }

    .event__page__list__info__block__title {
        margin-bottom: 0.7rem;
        padding-bottom: 0.5rem;
    }
}

@media screen and (max-width:750px) {

    .product_card__block:nth-child(3n):after {
        display: none;
    }
    .event__main__info {
        width: 100%;
    }

    .event__main__image {
        width: 100%;
    }

    .event__main__image__inner {
        padding-top: 65%;
    }

    .event__main__content__row {
        gap: 1.35rem;
    }

    .breadcrumbs {
        font-size: 0.85rem;
        padding: 1.25rem 0;
    }

    .breadcrumbs ul {
        gap: 0.15rem 0.25rem;
    }

    .title_1.event__title {
        font-size: 1.7rem;
        margin-bottom: 1.2rem;
    }

    .event__page__date {
        margin-bottom: 0.75rem;
    }

    .default__text {
        font-size: 0.9rem;
    }

    .event__page__list__info__block__title {
        font-size: 1.1rem;
    }

    .event__page_share a {
        width: 2.5rem;
        height: 2.5rem;
    }

    .event__page_share a svg {
        width: 55%;
    }


    .product_card__block:nth-child(3n) {
        border-right: 1px solid var(--Lightest-green,#dfe6e5);
    }

    .event__main__content {
        margin-bottom: 3.5rem;
    }
}