.product_list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.product_card__block {
    border-right: 1px solid var(--Lightest-green, #DFE6E5);

    width: calc(100% / 3);
    text-align: center;
}
.product_card{ position: relative;   padding: 3.75rem 1rem 2.5rem;}


.product_addition__top {
    text-align: center;
    margin-bottom: 2rem;
}

.btn__product_card__favorite {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 1.65rem;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_card__image__inner {
    padding-top: 80.25%;
    position: relative;
}

.product_card__image__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_card__image {
    font-size: 0;
    overflow: hidden;
    display: block;
}

.product_card:hover .product_card__image img {
    transform: scale(0.975);
}

.loaded .product_card__image__inner img {
    transition: 0.4s ease-in-out;
}

.product_card__title {
    font-family: Playfair Display SC;
    font-size: 1.125rem;
    line-height: 1.3;
    max-width: 22rem;
    margin: 0 auto 0.75rem;
    min-height: 2.95rem;
}

.product_card__title a {
    color: inherit;
    text-decoration: none;
}

.product_card__info {
    padding-top: 1rem;
}

.product_card__price {
    color: var(--Gray, #56575E);
}

.product_list.product_list--event {
    margin-bottom: 15.1rem;
}

.page__top__text--addition {
    margin-top: -0.65rem;
}

.btn__product_card__favorite svg {
    width: 80%;
    height: auto;
}

.product_card__title a:hover {
    color: #537b74;
}

.page__container--events {
    padding-bottom: 7.5rem;
}

.btn__product_card__favorite:hover path {
    fill: #537b74;
    stroke: #537b74;
}

.btn__product_card__favorite path {
    transition: 0.25s ease-in-out;
}

.btn__product_card__favorite svg path {
    fill: transparent;
}

.product_list:before {
    background: var(--Lightest-green, #DFE6E5);
    content: '';
    position: absolute;
    left: calc(-1 * (100vw - 84.25rem + 2.5rem)/ 2);
    width: 100vw;
    height: 1px;
    top: 0;
}

.product_card__block:nth-child(3n) {
    border-right: 0;
}

.product_list:after {
    background: var(--Lightest-green, #DFE6E5);
    content: '';
    position: absolute;
    left: calc(-1 * (100vw - 84.25rem + 2.5rem)/ 2);
    width: 100vw;
    height: 1px;
    bottom: 0;
}

.product_card__block:nth-child(3n):after {
    width: 100vw;
    height: 1px;
    content: '';
    background: #dfe6e5;
    display: block;
    position: absolute;
    left: calc(-1 * (100vw - 84.25rem + 2.5rem)/ 2);
}
@media screen and (max-width:1000px) {
    .product_list.product_list--event {
        margin-bottom: 7.5rem;
    }
    .product_card__block:nth-child(3n):after {
        left: -1.25rem;
    }
    .product_list:before,
    .product_list:after {
        left: -1.25rem;
    }
}

@media screen and (max-width:750px) {

    .product_list:before,
    .product_list:after {
        left: 0;
    }

    .product_card__block {
        width: calc(100% / 2);

    }
    .product_card{
        padding: 2rem 2.5rem;
    }

    .product_list {
        margin: 0 -1rem;
    }

    .product_card__block {
        border-bottom: 1px solid var(--Lightest-green, #DFE6E5);
    }


    .product_list:before {
        top: 0px;
    }



    .product_list.product_list--event {
        margin-bottom: 4.5rem;
    }

    .page__container--events {
        padding-bottom: 3.5rem;
    }

    .btn__product_card__favorite {
        top: 0.75rem;
        right: 0.75rem;
    }
    .page__top__text--addition {
        margin-top: -0.25rem;
    }
}


@media screen and (max-width:550px) {


    .product_card__title {
        font-size: 0.9rem;
        margin-bottom: 1rem;
        min-height: 1.75rem;
    }

    .product_card{
        padding: 2.75rem 1rem;
    }

    .btn__product_card__favorite svg {
        width: 55%;
    }

    .btn__product_card__favorite {
        right: 0.25rem;
        top: 0.25rem;
    }



    .product_card.product_card--event {
        padding-top: 1.5rem;
    }
    .product_card__price {
        position: absolute;
        bottom: 3.05rem;
        left: 0;
        right: 0;
    }
}