.page__container.page__container--home {
    padding: 0;
}

body.home .header_main {
    background: var(--Lightest-green, #DFE6E5);
}

.home_promo {
    position: relative;
    width: 100vw;
    margin-left: calc(-1 * (100vw - 84.25rem + 2.5rem)/ 2);
    background: var(--Lightest-green, #DFE6E5);
}

.home_promo__content {
    position: relative;
    min-height: 51.8rem;
    z-index: 5;
}

.home_promo__title {



    /* Display */
    font-family: Playfair Display SC;
    font-size: 6.06rem;
    line-height: 1.25;
    /* 110.417% */
    position: absolute;
    top: 34.75%;
    left: 0;
    right: 0;
    text-align: center;
}

.home_promo__decore {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
}

.home_promo__info {
    position: absolute;
    bottom: 10rem;
    left: 4.55rem;
    display: flex;
    align-items: center;
    max-width: 26.65rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.home_promo__info__text {
    flex: 1;
}

.btn_home_promo {
    border-width: 2px;
    padding: 0.55rem 0.925rem;
    background: #dfe6e5;
}

.home_promo__decore__image {
    position: absolute;
}

.home_promo__decore__image.home_promo__decore__image--1 {
    left: 0;
    top: 2rem;
}


.home_promo__decore__image.home_promo__decore__image--1 .home_promo__decore__image__content img {
    width: 18.4rem;
}

.home_promo__decore__image__content {
    font-size: 0;
    position: relative;
    z-index: 2;
}

.home_promo__decore__image.home_promo__decore__image--2 {
    left: 0;
    right: 0;
    margin: auto;
    width: 40.45rem;
    top: 2rem;
}

.home_promo__decore__image__ellipse {
    position: absolute;
    left: -1rem;
    right: 0;
    top: 2.35rem;
    bottom: 0;
    width: 100%;
}

.home_promo__decore__image__ellipse svg {
    width: 100%;
    height: auto;
}

.home_promo__decore__image.home_promo__decore__image--3 {
    right: 0;
    top: 17.15rem;
}

.home_promo__decore__image.home_promo__decore__image--3 .home_promo__decore__image__content img {
    width: 18.3rem;
}

.home_promo__decore__image.home_promo__decore__image--2 .home_promo__decore__image__content img {
    width: 100%;
}


.home__product__row {
    display: flex;
    flex-wrap: wrap;
    gap: 11rem;
}

.home__product__col--1 {
    width: 38.1em;
}

.home__product {
    margin-left: calc(-1 * (100vw - 84.25rem + 2.5rem)/ 2);
    width: 100vw;
}

.home__product__col--2 {
    width: 27.25rem;
}

.home__product__slider__item__image__inner {
    padding-top: 107.25%;
    position: relative;
}

.home__product__slider__item__image__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_card__block.slick-slide .btn__product_card__favorite {
    display: none;
}

.product_card__block.slick-slide {
    border: none;
}

.product_card__block.slick-slide .product_card {
    padding-top: 0;
}

.product_card__block.slick-slide .product_card__image {
    margin-bottom: -1.14rem;
}

.slick-dots {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 0.25rem;
    font-size: 0;
}

.home__who_we__title {
    font-family: Playfair Display SC;
    font-size: 4.545rem;
    line-height: 1.225;
    margin-bottom: 1.2rem;
}

.home__who_we {
    padding: 7.5rem 0;
    margin-left: calc(-1 * (100vw - 84.25rem + 2.5rem)/ 2);
    width: 100vw;
    background: linear-gradient(0deg, rgba(223, 230, 229, 0.70) 0%, rgba(223, 230, 229, 0.70) 100%);
    background-image: url('../images/__content/pages/home/bg_who.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.home__who_we .container {
    max-width: 70.5rem;
}

.slick-dots button {
    border: none;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #CECCC2;
}

.slick-dots .slick-active button,
.slick-dots button:hover {
    background: #537B74;
}

.loaded .slick-dots button {
    transition: 0.25s;
}

.home__product__collection__link {
    text-align: center;
    margin-top: 2rem;
}

.home__product__slider__2 .slick-dots {
    margin-top: 1.6rem;
}

.btn__arrow {
    display: inline-flex;
    align-items: center;
    gap: 0.7rem;
    color: inherit;
    text-decoration: none;
}

.loaded .btn__arrow svg {
    transition: 0.25s;
}

.loaded .btn__arrow svg path {
    transition: 0.25s;
}

.btn__arrow:hover svg {
    transform: translate(0.25rem, 0);
}

.btn__arrow:hover svg path {
    fill: #537b74;
}

.btn__arrow svg {
    width: 1.15rem;
    height: auto;
    margin-top: -0.2rem;
}

.home__product__collection__link a {
    text-transform: uppercase;
}

.btn__arrow:hover {
    color: #537b74;
}

.home__who_we__text {
    color: var(--Gray, #56575E);
    font-weight: 500;
}

.home__who_we__logo {
    text-align: center;
    margin-top: 2rem;
    font-size: 0;
}

.home__who_we__logo img {
    width: 9.5rem;
}

.about__section_gallery.about__section_gallery--home {
    padding-top: 7.75rem;
}

.page__container.page__container--home:before {
    content: '';
    width: 100vw;
    height: 500px;
    z-index: -1;
    top: 0;
    position: absolute;
    background: #dfe6e5;
    pointer-events: none;
}


.home__section__2 {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: calc(-1 * (100vw - 84.25rem + 2.5rem)/ 2);
    width: 100vw;
    padding-left: 4.5rem;
    gap: 4.5rem;
    margin-bottom: 7.65rem;
}

.home__section__2__images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 1;
}

.home__section__2__image--1 {
    width: 51.75%;
}

.home__section__2__info {
    width: 17rem;
    margin-top: -1.6rem;
}

.home__section__2__image--2 {
    width: calc(100% - 1rem - 51.75%);
}

.home__section__2__image {
    font-size: 0;
}

.home__section__2__image__inner {
    padding-top: 107.5%;
    position: relative;
    overflow: hidden;
}

.home__section__2__image__inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
}

.home__section__2__image--2 .home__section__2__image__inner {
    padding-top: 100%;
}

.home__section__2__title.title_1 {
    font-size: 3.05rem;
}

.btn_home__section__2 {
    margin-top: 1.4rem;
    display: inline-flex;
    width: auto;
    padding: 0.5rem 0.95rem;
    border-width: 2px;
}

.new_creatinon__home__top {
    text-align: center;
    margin-bottom: 2rem;
}

.collection__home {
    margin-left: calc(-1 * (100vw - 84.25rem + 2.5rem)/ 2);
    width: 100vw;
    background: var(--Light-gray, #F0F0F0);
}

.collection__home__cell--left {
    width: 35.375%;
}

.new_creatinon__home {
    margin-bottom: 7.6rem;
}

.collection__home__slider_1__item__image__inner {
    position: relative;
    padding-top: 145%;
    overflow: hidden;
}

.collection__home__slider_1__item__image__inner img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.collection__home__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

.collection__home__cell--center {
    flex: 1;
    max-width: 26.3rem;
    margin-right: 22.25rem;
    padding-top: 4.5rem;
}

.collection__home__cell--right {
    position: absolute;
    right: 4.5rem;
    bottom: 4.55rem;
    width: 19.45%;
}

.collection__home__slider_2__item__image__inner {
    padding-top: 129%;
    position: relative;
    overflow: hidden;
}

.collection__home__slider_2__item__image__inner img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.collection__home__cell--left .slick-dots {
    position: absolute;
    right: -4.5rem;
    left: 0;
    bottom: 4.5rem;
    margin: 0 auto;
}

.collection__home__slider_1 {
    position: static;
}

.collection__home__info__text {
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

.btn_collection__home__info {
    margin-top: 1.2rem;
    width: auto;
    display: inline-flex;
    padding: .6rem 1rem;
}

@media screen and (max-width:1000px) {

    .collection__home {
        margin-left: -1.25rem;
    }

    .new_creatinon__home {
        margin-bottom: 5rem;
    }

    .collection__home__cell--right {
        right: 0px;
        bottom: 0px;
    }

    .collection__home__cell--center {
        padding-top: 3.5rem;
        margin-right: 11.5rem;
    }

    .home__product {
        margin-left: -1.25rem;
    }

    .home__who_we {
        margin-left: -1.25rem;
        padding: 5.5rem 0 3.5rem;
    }

    .home__product__col--1 {
        width: 45%;
    }

    .home__section__2 {
        margin-left: -1.25rem;
        padding-left: 1.25rem;
        padding-top: 2.5rem;
        margin-bottom: 5rem;
    }

    .home__product__slider {
        height: 100%;
        display: flex;
    }

    .home__product__slider .slick-list {
        min-height: 100%;
    }

    .home__product__row {
        gap: 5%;
    }

    .home__product__col--2 {
        width: 50%;
        padding: 3rem 1rem;
    }

    .home__product__slider__item {
        height: auto;
        align-self: stretch;
    }

    .slick-slider .slick-track {
        display: flex;
        min-height: 100%;
        align-items: center;
    }

    .home__product__slider__item__image {
        width: 100%;
    }

    .home__product__slider__item__image {
        height: 100%;
    }

    .home__product__slider__item__image__inner {
        min-height: 100%;
    }

    .home__who_we__title {
        font-size: 4.2rem;
    }

    .home__who_we__logo img {
        width: 7rem;
    }

    .about__section_gallery.about__section_gallery--home {
        padding-top: 5rem;
    }

    .about__section_gallery__list:before,
    .about__section_gallery__list:after {
        left: -0.75rem;
    }

    .home_promo {
        margin-left: -1.25rem;
    }

    .home_promo__title {
        font-size: 4.25rem;
    }

    .home_promo__info {
        left: 1.25rem;
        max-width: 24.5rem;
    }

    .home_promo__decore__image.home_promo__decore__image--1 .home_promo__decore__image__content img {
        width: 13.5rem;
    }

    .home_promo__decore__image.home_promo__decore__image--3 .home_promo__decore__image__content img {
        width: 13.5rem;
    }

    .home_promo__decore__image.home_promo__decore__image--2 {
        width: 31rem;
        top: 4rem;
    }

    .home_promo__content {
        min-height: 46.5rem;
    }
}

@media screen and (max-width:750px) {
    .home__product {
        margin-left: -1rem;
    }

    .home__section__2 {
        margin-left: -1rem;
        padding-top: 1.75rem;
        margin-bottom: 3rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        padding-right: 1rem;
    }

    .home__section__2__images {
        width: 100%;
        flex: none;
    }

    .home__section__2__title.title_1 {
        font-size: 2.75rem;
    }

    .btn_home__section__2 {
        max-width: 230px;
        width: 100%;
    }

    .home__section__2__image__inner {
        min-height: 225px;
    }

    .home__section__2__image--2 .home__section__2__image__inner {
        min-height: 180px;
    }

    .home__who_we__title {
        font-size: 32px;
        line-height: 1.15;
        margin-bottom: 1.5rem;
    }

    .home__who_we {
        margin-left: -1rem;
        padding: 2rem 0;
    }

    .home__who_we__text {
        color: inherit;
    }

    .home__who_we__logo {
        margin-top: 1.5rem;
    }

    .home__who_we__logo img {
        width: 4.5rem;
    }

    .about__section_gallery.about__section_gallery--home {
        padding-top: 2rem;
    }

    .home_promo__decore__image.home_promo__decore__image--1 {
        display: none;
    }

    .home_promo__decore__image.home_promo__decore__image--3 {
        display: none;
    }

    .home_promo__decore {
        position: relative;
        height: auto;
        margin-bottom: 2rem;
    }

    .home_promo__decore__image {
        position: relative;
    }

    .home_promo__decore__image.home_promo__decore__image--2 {
        width: 80%;
        max-width: 550px;
        top: 0;
    }

    .home_promo__content {
        min-height: auto;
        max-width: 430px;
    }

    .home_promo__title {
        position: static;
        text-align: left;
        font-size: 64px;
        line-height: 1.15;
        margin-bottom: 22px;
    }

    .home_promo {
        width: auto;
        padding: 2.5rem 1rem;
        margin: 0 -1rem;
    }

    .home_promo__info {
        position: static;
        gap: 1rem;
    }

    .home_promo__info__text {
        width: 100%;
        flex: none;
    }

    .home_promo__info__btn {
        width: 100%;
        max-width: 400px;
    }

    .collection__home {
        margin-left: -1rem;
        padding: 0 1rem;
        padding-bottom: 2.5rem;
    }

    .collection__home__cell--left {
        width: calc(47.5% - 0.5rem);
    }

    .collection__home__cell--right {
        position: static;
        width: 52.5%;
    }

    .collection__home__cell--center {
        order: -1;
        max-width: 550px;
        margin-right: 0;
        width: 100%;
        flex: none;
        padding: 2.25rem 0;
    }

    .btn_collection__home__info {
        width: 100%;
        max-width: 300px;
        margin-top: 1.75rem;
    }

    .collection__home__list.js_collection__home__list {
        gap: 0 0.5rem;
    }

    .collection__home__cell--left .slick-dots {
        left: 50%;
        right: 0;
        bottom: 0.5rem;
    }

    .new_creatinon__home {
        margin-bottom: 0;
    }


    .collection__home__info__text {
        font-weight: 400;
        line-height: 1.5;
    }

    .collection__home__slider_1__item__image__inner {
        padding-top: 175%;
    }
}


@media screen and (max-width:550px) {


    .home_promo__title {
        font-size: 48px;
    }

    .home_promo__info__text {
        line-height: 1.5;
    }

    .home_promo__decore__image__ellipse {
        right: -0.5rem;
        width: auto;
    }

    .home_promo__title {
        font-size: 48px;
    }

    .home_promo__info__text {
        line-height: 1.5;
    }

    .home_promo__decore__image__ellipse {
        right: -1.25rem;
        width: auto;
        top: 1rem;
    }

    .home__product__row {
        gap: 0;
    }

    .home__product__col--1 {
        width: 100%;
    }

    .home__product__slider__item__image__inner {
        padding-top: 100%;
    }

    .home__product__col--2 {
        width: 100%;
        padding: 2rem 0;
    }

}