.product__page__content__row {
	display: flex;
	flex-wrap: wrap;
	gap: 4.075rem;
}

.product__page__image__block {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	font-size: 0;
}

.product__page__info {
	width: 30.35rem;
}

.product__page__image__main {
	border: 1px solid var(--Green-light, #a7c6c1);
	width: 100%;
	cursor: pointer;
}

.product__page__image__main__inner {
	padding-top: 79.85%;
	position: relative;
}

.product__page__image__main__inner img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.product__page__image__add {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	width: 100%;
}

.product__page__image__add__item {
	width: calc(100% / 2 - 0.25rem);
	border: 1px solid var(--Green-light, #a7c6c1);
	cursor: pointer;
}

.product__page__image__add__item__inner {
	padding-top: 100%;
	position: relative;
	width: 100%;
}

.product__page__image__add__item__inner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
}

.product__page__ref {
	color: var(--Gray, #56575e);
	font-size: 0.875rem;
	margin-top: -0.65rem;
	margin-bottom: 2.6rem;
}

.product__page__price {
	/* H3 Headline */
	font-family: Playfair Display SC;
	font-size: 2.5rem;
	line-height: 1;
	/* 140% */
	margin-bottom: 2.5rem;
}

.btn_add__to_wish {
	display: inline-flex;
	align-items: center;
	gap: 0.8rem;
	padding: 0.5rem 0.75rem;
	border-width: 2px;
	border-radius: 0.125rem;
}

.btn_add__to_wish svg {
	width: 1.55rem;
	height: auto;
}

.product__page__add__to_wish {
	margin-bottom: 2rem;
}

.product__page__image__main:hover img,
.product__page__image__add__item:hover img {
	transform: scale(0.975);
}

.loaded .product__page__image__main__inner img,
.loaded .product__page__image__add__item img {
	transition: 0.4s ease-in-out;
}

.btn_add__to_wish:hover path {
	fill: #fff;
}

.loaded .btn_add__to_wish path {
	transition: 0.25s;
}

.btn_add__to_wish path {
	fill: transparent;
}

.product__page__content {
	margin-bottom: 15rem;
}

.product__page__attribute__item__icon {
	width: 1rem;
	height: 1rem;
	border-width: 0.125rem;
	border-style: solid;
	border-color: var(--color);
	border-radius: 50%;
	margin-top: -0.2rem;
	background: var(--color);
}

.product__page__attribute__item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.65rem;
}

.product__page__attribute__list {
	display: flex;
	gap: 0.35rem 1.5rem;
	flex-wrap: wrap;
}

.product__page__attribute__list--product_card {
	justify-content: center;
	text-align: center;
	margin-top: 0.75rem;
}

@media screen and (max-width: 1000px) {
	.product__page__content {
		margin-bottom: 10rem;
	}
}

@media screen and (max-width: 750px) {
	.product__page__info {
		width: 100%;
	}

	.product__page__image__block {
		flex: none;
		width: 100%;
	}

	.product__page__image__main__inner {
		padding-top: 64%;
	}

	.product__page__content__row {
		gap: 1.25rem;
	}

	.product__page__ref {
		margin-bottom: 1.5rem;
	}

	.btn_add__to_wish {
		width: 100%;
		justify-content: center;
		max-width: 280px;
		padding: 0.7rem;
	}

	.btn_add__to_wish svg {
		margin-top: -4px;
	}

	.product__page__price {
		font-size: 2rem;
		margin-bottom: 2rem;
	}

	.product__page__content {
		margin-bottom: 5rem;
	}
}

@media screen and (max-width: 550px) {
	.product__page__attribute__list--product_card {
		position: absolute;
		bottom: 1.25rem;
		left: 0;
		right: 0;
		font-size: 0.85rem;
	}

	.product_card {
		height: 100%;
		padding-bottom: 4.25rem;
	}
}
