.wishlist__top__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 1rem 0;
    margin-bottom: 2rem;
    gap: 1rem;
}

.wishlist__top__line:before,.wishlist__top__line:after {background: var(--Lightest-green, #DFE6E5);content: '';position: absolute;width: 100vw;height: 1px;left: calc(-1 * (100vw - 84.25rem + 2.5rem)/ 2);}

.wishlist__top__line:before {
    top: 0;
}

.wishlist__top__line:after {
    bottom: 0;
}

.wishlist__top__line__col a {
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.wishlist__top__line__col a svg {
    margin-top: -0.2rem;
    width: 0.925rem;
    height: auto;
}

.wishlist__top__line__col a:hover {
    color: #537b74;
}

.page__top__title:last-child {
    margin-bottom: -1rem;
}

.wishlist__top__line__col a:hover path {
    stroke: #537b74;
}

.loaded .wishlist__top__line__col a path {
    transition: 0.25s;
}

.product_list--wishlist__btn {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
}

.btn_whishlist_0 {
    max-width: 15rem;
}

.page__container.page__container--wishlist {
    padding-bottom: 10rem;
}

.product_card__block.product_card__block--favorited .btn__product_card__favorite svg path {
    fill: #232121;
    stroke: #232121;
}

@media screen and (max-width:1000px){
.wishlist__top__line:before, .wishlist__top__line:after {
    left: -1.25rem;
}}
@media screen and (max-width:750px){
.page__container.page__container--wishlist {
    padding-bottom: 5rem;
}
}